nav {
  z-index: 10000;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--color-white);
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  transition-duration: 500ms;
}
.nav-toggle:hover {
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
.links a {
  color: var(--color-white);
  font-size: 1rem;
  text-transform: capitalize;
  display: block;
  padding: 0.5rem 1rem;
  transition: var(500ms);
}

.links a.active {
  color: var(--color-primary-variant);
}

.links a:hover {
  color: var(--color-primary-variant);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: 500ms;
}
.show-container {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    /* max-width: 1170px;
    margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--color-white);
  }
  .social-icons a:hover {
    color: var(--color-primary-variant);
  }
}
